.btn-circle {
	width: 120px;
	height: 120px;
	text-align: center;
	padding: 10px 16px;
	font-size: 25px;
	border-radius: 60px;
	background-color: white;
	border: 1px solid #000000;
	/* move button on top */
	z-index: 1;
	position: relative;
	z-index: 1
}