body {
	/* The fixed navbar will overlay your other content, 
	unless you add padding to the top of the <body>. 
	Try out your own values or use our snippet below. 
	Tip: By default, the navbar is 50px high.  */
	padding-bottom: 70px;
	background-color: #ecffff;
}

.navbar-default {
	/* increase to fit logo */
	height: 80px;
}

.navbar-nav {
	/* drag links little bit to the center of navbar */
	margin-top: 15px;
	color: white;
}

.navbar-form {
	/* should be bigger than .navbar-nav martgin-top */
	margin-top: 20px;
}

.navbar-brand {
	margin-top: -10px;
}

.container-fluid {
	font-size: 18px;
	/* make header content aligned to center */
	width: 60%;
}

.navbar-fixed-bottom>.container {
	margin-top: 15px;
	/* color of text in footer */
	color: #999999;
}

.btn-custom {
	/* arrow buttons */
	width: 200px;
	height: 75px;
	font-size: 25px;
}

.navbar {
	/* header/footer color */
	background-color: #3b3b3b;
}

.nav.navbar-nav li a {
	/* color of text in header */
	color: white;
}

.nav.navbar-nav li a:HOVER {
	/* color of text in header when hovered */
	color: #bbeafb;
}

.nav-pills li a {
	/* color of text in side menu */
	color: black;
}

.nav-pills li a:HOVER {
	/* color of pills in side menu when on focus */
	background-color: #e5e5e5;
}

.panel-default {
	box-shadow: 0 1px 5px #aeaeae;
	border-radius: 0;
}

.valid-error {
	/* format of validation error message */
	color: red;
	text-align: right;
}

.form-control {
	/* allow only vertical resize */
	resize: vertical;
}

/*tagsinput*/
.bootstrap-tagsinput {
	width: 100%;
}

.label {
	line-height: 3 !important;
}

/* wrap text in div */
div {
	word-wrap: break-word;
}

/* categories checkboxes in registration */
.checkbox li {
	width: 300px;
	display: inline-block;
}

/* make element little bit transparent */
.transparent {
	opacity: 0.85;
}

/* carousel image fill container by width with saved proportions */
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 100%;
	margin: auto;
}

.panel-center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:350px;
}

/* registration button */
.btn-register {
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	font-size: 35px;
	border: none;
	color: #ffffff;
	margin: 5px;
	width: 400px;
	height: 200px;
}